export DATA_E2E_LLM_REGISTRY_USERNAME=<your LLM container registry username>
export DATA_E2E_LLM_REGISTRY_PASSWORD=<your LLM container registry password or access token>
export DATA_E2E_REGISTRY_USERNAME=<your main container registry username>
export DATA_E2E_REGISTRY_PASSWORD=<your main container registry password or access token>
export DATA_E2E_POSTGRESML_NS=<postgres instance namespace>
export DATA_E2E_POSTGRESML_VERSION=<postgres instance version>
export DATA_E2E_POSTGRESML_IMAGE_TAG=<postgres instance image tag>
export DATA_E2E_BITNAMI_AUTH_USERNAME=<bitnami's global.auth.username property>
export DATA_E2E_BITNAMI_AUTH_PASSWORD=<bitnami's global.auth.password property>
export DATA_E2E_BITNAMI_AUTH_POSTGRESPASSWORD=<bitnami's global.auth.postgrespassword property>
export DATA_E2E_BITNAMI_AUTH_DATABASE=<bitnami's auth.database property>
export DATA_E2E_HUGGINGFACE_TOKEN=<huggingface token>
export DATA_E2E_HUGGINGFACE_USERNAME=<huggingface username>
export DATA_E2E_DATAHUB_GMS_URL=<datahub gms endpoint>