docs
.env
dev/
*.h5
resources/db/liquibase/setup.yaml
resources/argo/values.yaml
resources/argo/pipeline*.yaml
pdfs
tmp*.*
test.sql
resources/db/liquibase/embeddings.yaml
resources/tapworkloads/workload.yaml
slack-tmp/
slack/
